<!--내맘대로 홈화면 html 짠거야! 신경쓰지 마세요이>_<-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>D:raw</h1>
    <h2>디지털 서비스 이용 어려움, D:raw와 함께</h2>
    <h3>옆에서 직접 도와줄 수 없을 때, 디지털 안내사 간편 매칭 서비스</h3>

    <a href="http://127.0.0.1:8000/main">바로 신청하기</a>
    <a href="http://127.0.0.1:8000/match/check">매칭 찾아보기</a>
    <h3>우수 D:raw 안내사</h3>
    <h3>자주 묻는 질문</h3>
    <h3>도움이 되는 혜택 정보가 있으면 알려드릴까요?</h3>
    <h4>광고배너,,</h4>
    <h4>D:raw 고객센터 1588-1588
        평일 오전 9시~오후 6시, 점심시간 오후 1시~2시
        *주말은 기초 상담, 긴급문의 접수만 가능
        사업자정보확인 | 이용약관 | 개인정보처리방침</h4>

    <div>
        <a href="http://127.0.0.1:8000/main">홈</a>
        <a href="http://127.0.0.1:8000/match/mypage">내 매칭</a>
        <a href="http://127.0.0.1:8000/match/check">서비스 신청</a>
        <h4>상담하기</h4>
        <h4>더보기</h4>
    </div>
</body>
</html>